<a href="https://colab.research.google.com/github/poonamks/Demo/blob/main/DemoHRAttrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# New Section

In [2]:
company=pd.read_csv("Company_Data.csv")
personal=pd.read_csv("Personal_Data.csv")

In [3]:
personal.head(10)

     EmpID  Age EducationField  Gender MaritalStatus  DistanceFromHome
0  2102210   41  Life Sciences  Female        Single                 1
1  2102211   49  Life Sciences    Male       Married                 8
2  2102212   37          Other    Male        Single                 2
3  2102213   33  Life Sciences  Female       Married                 3
4  2102214   27        Medical    Male       Married                 2
5  2102215   32  Life Sciences    Male        Single                 2
6  2102216   59        Medical  Female       Married                 3
7  2102217   30  Life Sciences    Male      Divorced                24
8  2102218   38  Life Sciences    Male        Single                23
9  2102219   36        Medical    Male       Married                27

In [4]:
company.head(10)

,EmpID,BusinessTravel,Department,HourlyRate,JobLevel,JobRole,JobSatisfaction,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,2102210,Travel_Rarely,Sales,94,2.0,Sales Executive,4,19479,8,Yes,11,8,1.0,6,4,0,5,Yes
1,2102211,Travel_Frequently,Research & Development,61,2.0,Research Scientist,2,24907,1,No,23,10,3.0,10,7,1,7,No
2,2102212,Travel_Rarely,Research & Development,92,1.0,Laboratory Technician,3,2396,6,Yes,15,7,3.0,0,0,0,0,Yes
3,2102213,Travel_Frequently,Research & Development,56,1.0,Research Scientist,3,23159,1,Yes,11,8,3.0,8,7,3,0,No
4,2102214,Travel_Rarely,Research & Development,40,1.0,Laboratory Technician,2,16632,9,No,12,6,3.0,2,2,2,2,No
5,2102215,Travel_Frequently,Research & Development,79,1.0,Laboratory Technician,4,11864,0,No,13,8,2.0,7,7,3,6,No
6,2102216,Travel_Rarely,Research & Development,81,1.0,Laboratory Technician,1,9964,4,Yes,20,12,2.0,1,0,0,0,No
7,2102217,Travel_Rarely,Research & Development,67,1.0,Laboratory Technician,3,13335,1,No,22,1,3.0,1,0,0,0,No
8,2102218,Travel_Frequently,Research & Development,44,3.0,Manufacturing Director,3,8787,0,No,21,10,3.0,9,7,1,8,No
9,2102219,Travel_Rarely,Research & Development,94,2.0,Healthcare Representative,3,16577,6,No,13,17,2.0,7,7,7,7,No

In [5]:
df=pd.merge(personal,company,how="outer",on="EmpID")

In [6]:
df.tail(5)

,EmpID,Age,EducationField,Gender,MaritalStatus,DistanceFromHome,BusinessTravel,Department,HourlyRate,JobLevel,...,NumCompaniesWorked,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
1465,2103675,36,Medical,Male,Married,23,Travel_Frequently,Research & Development,41,2.0,...,4,No,17,17,3.0,5,2,0,3,No
1466,2103676,39,Medical,Male,Married,6,Travel_Rarely,Research & Development,42,3.0,...,4,No,15,9,3.0,7,7,1,7,No
1467,2103677,27,Life Sciences,Male,Married,4,Travel_Rarely,Research & Development,87,2.0,...,1,Yes,20,6,3.0,6,2,0,3,No
1468,2103678,49,Medical,Male,Married,2,Travel_Frequently,Sales,63,2.0,...,2,No,14,17,2.0,9,6,0,8,No
1469,2103679,34,Medical,Male,Married,8,Travel_Rarely,Research & Development,82,2.0,...,2,No,12,6,4.0,4,3,1,2,No

In [7]:
df.shape
print("The number of rows are ",df.shape[0],"\nThe number of columns are",df.shape[1])

The number of rows are  1470
The number of columns are 23

In [8]:
df.isnull().sum()

EmpID                      0
Age                        0
EducationField             0
Gender                     0
MaritalStatus              0
DistanceFromHome           0
BusinessTravel             0
Department                 0
HourlyRate                 0
JobLevel                   6
JobRole                    0
JobSatisfaction            0
MonthlyRate                0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
TotalWorkingYears          0
WorkLifeBalance            4
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
Attrition                  0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

EmpID                      0
Age                        0
EducationField             0
Gender                     0
MaritalStatus              0
DistanceFromHome           0
BusinessTravel             0
Department                 0
HourlyRate                 0
JobLevel                   0
JobRole                    0
JobSatisfaction            0
MonthlyRate                0
NumCompaniesWorked         0
OverTime                   0
PercentSalaryHike          0
TotalWorkingYears          0
WorkLifeBalance            0
YearsAtCompany             0
YearsInCurrentRole         0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
Attrition                  0
dtype: int64

In [11]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
EmpID,1460.0,NaN,NaN,NaN,2102949.219178,422.080035,2102210.0,2102584.75,2102949.5,2103314.25,2103679.0
Age,1460.0,NaN,NaN,NaN,36.910959,9.126498,18.0,30.0,36.0,43.0,60.0
EducationField,1460,6,Life Sciences,600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,1460,2,Male,875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MaritalStatus,1460,3,Married,671,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DistanceFromHome,1460.0,NaN,NaN,NaN,9.172603,8.101841,1.0,2.0,7.0,14.0,29.0
BusinessTravel,1460,3,Travel_Rarely,1036,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Department,1460,3,Research & Development,952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HourlyRate,1460.0,NaN,NaN,NaN,65.914384,20.316655,30.0,48.0,66.0,84.0,100.0
JobLevel,1460.0,NaN,NaN,NaN,2.065753,1.107544,1.0,1.0,2.0,3.0,5.0
JobRole,1460,9,Sales Executive,325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
JobSatisfaction,1460.0,NaN,NaN,NaN,2.729452,1.103963,1.0,2.0,3.0,4.0,4.0
MonthlyRate,1460.0,NaN,NaN,NaN,14299.465068,7123.418042,2094.0,8039.75,14225.5,20460.5,26999.0
NumCompaniesWorked,1460.0,NaN,NaN,NaN,2.696575,2.499154,0.0,1.0,2.0,4.0,9.0
OverTime,1460,2,No,1048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PercentSalaryHike,1460.0,NaN,NaN,NaN,15.218493,3.666092,11.0,12.0,14.0,18.0,25.0
TotalWorkingYears,1460.0,NaN,NaN,NaN,11.286301,7.778828,0.0,6.0,10.0,15.0,40.0
WorkLifeBalance,1460.0,NaN,NaN,NaN,2.762329,0.707605,1.0,2.0,3.0,3.0,4.0
YearsAtCompany,1460.0,NaN,NaN,NaN,7.028767,6.13939,0.0,3.0,5.0,10.0,40.0
YearsInCurrentRole,1460.0,NaN,NaN,NaN,4.243836,3.628309,0.0,2.0,3.0,7.0,18.0
YearsSinceLastPromotion,1460.0,NaN,NaN,NaN,2.197945,3.229596,0.0,0.0,1.0,3.0,15.0
YearsWithCurrManager,1460.0,NaN,NaN,NaN,4.133562,3.573852,0.0,2.0,3.0,7.0,17.0
Attrition,1460,2,No,1225,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.drop("EmpID",axis=1,inplace=True)

In [13]:
df.head()

,Age,EducationField,Gender,MaritalStatus,DistanceFromHome,BusinessTravel,Department,HourlyRate,JobLevel,JobRole,...,NumCompaniesWorked,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Life Sciences,Female,Single,1,Travel_Rarely,Sales,94,2.0,Sales Executive,...,8,Yes,11,8,1.0,6,4,0,5,Yes
1,49,Life Sciences,Male,Married,8,Travel_Frequently,Research & Development,61,2.0,Research Scientist,...,1,No,23,10,3.0,10,7,1,7,No
2,37,Other,Male,Single,2,Travel_Rarely,Research & Development,92,1.0,Laboratory Technician,...,6,Yes,15,7,3.0,0,0,0,0,Yes
3,33,Life Sciences,Female,Married,3,Travel_Frequently,Research & Development,56,1.0,Research Scientist,...,1,Yes,11,8,3.0,8,7,3,0,No
4,27,Medical,Male,Married,2,Travel_Rarely,Research & Development,40,1.0,Laboratory Technician,...,9,No,12,6,3.0,2,2,2,2,No

In [14]:
df.Attrition.value_counts()

No     1225
Yes     235
Name: Attrition, dtype: int64

In [15]:
df.Attrition.value_counts(normalize=True)

No     0.839041
Yes    0.160959
Name: Attrition, dtype: float64

In [16]:
df_new=df[df['Attrition']=='Yes']
df_new.head()

,Age,EducationField,Gender,MaritalStatus,DistanceFromHome,BusinessTravel,Department,HourlyRate,JobLevel,JobRole,...,NumCompaniesWorked,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Life Sciences,Female,Single,1,Travel_Rarely,Sales,94,2.0,Sales Executive,...,8,Yes,11,8,1.0,6,4,0,5,Yes
2,37,Other,Male,Single,2,Travel_Rarely,Research & Development,92,1.0,Laboratory Technician,...,6,Yes,15,7,3.0,0,0,0,0,Yes
21,36,Life Sciences,Male,Single,9,Travel_Rarely,Sales,82,1.0,Sales Representative,...,7,No,23,10,3.0,5,3,0,3,Yes
24,34,Medical,Male,Single,6,Travel_Rarely,Research & Development,83,1.0,Research Scientist,...,2,No,11,8,3.0,4,2,1,3,Yes
26,32,Life Sciences,Female,Single,16,Travel_Frequently,Research & Development,72,1.0,Research Scientist,...,1,Yes,22,10,3.0,10,2,6,7,Yes

In [17]:
df_new.shape

(235, 22)

In [18]:
df.iloc[0:5,0:5]

   Age EducationField  Gender MaritalStatus  DistanceFromHome
0   41  Life Sciences  Female        Single                 1
1   49  Life Sciences    Male       Married                 8
2   37          Other    Male        Single                 2
3   33  Life Sciences  Female       Married                 3
4   27        Medical    Male       Married                 2

In [19]:
df.groupby("Attrition").mean()

<ipython-input-19-ee1063790188>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Attrition").mean()

,Age,DistanceFromHome,HourlyRate,JobLevel,JobSatisfaction,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Attrition,,,,,,,,,,,,,,
No,37.542041,8.902041,65.977959,2.146939,2.780408,14254.193469,2.648980,15.242449,11.862857,2.782041,7.388571,4.497959,2.243265,4.377143
Yes,33.621277,10.582979,65.582979,1.642553,2.463830,14535.455319,2.944681,15.093617,8.280851,2.659574,5.153191,2.919149,1.961702,2.863830

In [20]:
df.sort_values(by="YearsAtCompany",ascending=False).head()

,Age,EducationField,Gender,MaritalStatus,DistanceFromHome,BusinessTravel,Department,HourlyRate,JobLevel,JobRole,...,NumCompaniesWorked,OverTime,PercentSalaryHike,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
126,58,Medical,Female,Married,23,Travel_Rarely,Research & Development,94,3.0,Healthcare Representative,...,1,No,12,40,2.0,40,10,15,6,Yes
98,58,Medical,Male,Single,10,Travel_Rarely,Sales,37,4.0,Sales Executive,...,0,No,13,38,2.0,37,10,1,8,No
1116,55,Marketing,Male,Married,26,Travel_Rarely,Sales,60,5.0,Manager,...,1,No,21,36,3.0,36,6,2,13,No
270,55,Medical,Male,Single,1,Travel_Rarely,Research & Development,81,5.0,Manager,...,0,Yes,14,37,3.0,36,10,4,13,No
561,52,Marketing,Male,Married,3,Travel_Rarely,Sales,31,4.0,Manager,...,1,No,11,34,4.0,34,6,1,16,No

In [21]:
df.PercentSalaryHike.min()

11

In [22]:
df.TotalWorkingYears.max()

40

In [23]:
df[df["YearsWithCurrManager"]>7]["Attrition"].value_counts(normalize=True)

No     0.918519
Yes    0.081481
Name: Attrition, dtype: float64

In [24]:
df[df['DistanceFromHome']>10]['DistanceFromHome'].count()/df.shape[0] *100

30.068493150684933

In [25]:
df_copy=df.copy()

In [26]:
df_copy.drop("Attrition",axis=1,inplace=True)

In [27]:
df_copy.shape

(1460, 21)